[include]
        # For username / creds / etc
        path = ~/.gitconfig.local
[user]
        name = Tim Brooks
        email = brooks@cern.ch
[github]
        user = brookst
[core]
        editor = vim
        whitespace = trailing-space tab-in-indent tabwidth=4
[color]
        ui = auto
[diff]
        tool = vimdiff
        noprefix = true
[branch]
        autosetuprebase = always
[init]
        templatedir = ~/.git_template
[merge]
        stat = true
[alias]
        s = status
        p = pull
        d = diff
        l = log
        ci = commit
        co = checkout
        pop = stash pop
        vimdiff = difftool

# vim: sts=8 sw=8
