# vim: sts=8 sw=8
# See also .config/git/config
[include]
        # For username / creds / etc
        path = ~/.gitconfig.local
[user]
        name = Tim Brooks
        email = brooks@skoorb.net
        signingkey = 0C66D5A7
[github]
        user = brookst
[core]
        editor = vim
        pager = less -FX
        whitespace = trailing-space tab-in-indent tabwidth=4
        autocrlf = input
[color]
        ui = auto
[diff]
        tool = vimdiff
        noprefix = true
        renames = copies
        compactionHeuristic = true
        indentHeuristic = true
[difftool]
        prompt = false
        trustExitCode = true
[diff "exif"]
        textconv = exiftool
[branch]
        autosetuprebase = always
[init]
        templatedir = ~/.git_template
[merge]
        tool = vimdiff
        stat = true
[submodule]
        fetchJobs = 4
[rerere]
        enabled = 1
[advice]
        statusHints = false
        pushNonFastForward = false
[alias]
        s = status
        m = merge
        p = pull
        l = log
        d = diff
        dt = difftool
        ci = commit
        co = checkout
        pop = stash pop
        vimdiff = difftool
        grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)'
        # From: https://hackernoon.com/lesser-known-git-commands-151a1918a0
[http]
        emptyAuth = true
